@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  background: rgb(47, 47, 47);
  font-family: Manrope, sans-serif;
}

#text {
  width: 99%;
  height: 98%;
  font-size: 16px;
  padding: 3px;
  outline: none;
  background:
      linear-gradient(to right, #78dce8 0ch, #78dce8 3ch, #FFD658 18ch, #FFD658 31ch, white 31ch, white 80ch),
      linear-gradient(to right, white 0ch, #a6e22e 0ch, #a6e22e 3ch, white 3ch, white 12ch, #f92672 12ch, #f92672 15ch,  #A7C 15ch,  #A7C 17ch, white 17ch, white 80ch), 
      linear-gradient(to right, white 0ch, white 0ch, white 4ch, #fd971f 4ch, #fd971f 11ch, white 11ch, white 12ch, #a6e22e 12ch, #a6e22e 15ch,  #FFD658 16ch, #FFD658 34ch, #f92672 34ch, #f92672 37ch, white 37ch, white 80ch);
  background-size: 80ch 30px, 80ch 60px, 80ch 90px, 80ch 120px, 80ch 150px;
  background-clip: text;
  color: transparent
}